<!DOCTYPE html>
<html ng-app="angularSort">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script src="js/app.js"></script>
	<title>Angular Sort</title>
</head>
<body>
	<div ng-controller="BuyBookCtrl">
		<h1>{{book.name}}</h1>
		<h4>To Buy</h4>
		<table>
		 <thead>
		  <tr>
		   <th>Source</th>
		   <th ng-click="sortBy('new_price')">New Price</th>
		   <th ng-click="sortBy('used_price')">Old Price</th>
		  </tr>
		 </thead>
		 <tbody>
		  <tr ng-repeat="source in book.sources | orderBy:predicate:reverse" ng-hide="priceEmpty(source.new_price) && priceEmpty(source.used_price)" >
		   <td>{{source.title}}</td>
		   <td>
			   <span ng-show="!priceEmpty(source.new_price)">
				   	{{source.new_price | currency}}
			   </span>
			   <span ng-show="priceEmpty(source.new_price)">
			    	None
			   </span>  
		   </td>
		   <td>
		   	   <span ng-show="!priceEmpty(source.used_price)">
		   		   	{{source.used_price | currency}}
		   	   </span>
		   	   <span ng-show="priceEmpty(source.used_price)">
		   	    	None
		   	   </span>
		   </td>
		  </tr>
		 </tbody>
		</table>
	</div>

</body>
</html>